*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Custom properties */

:root {
  --ff-primary: "Montserrat", sans-serif;

  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --color-light: #fff;
  --color-dark: #303030;
  --color-accent: hsl(34, 100%, 60%);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-light);
  color: var(--color-light);
  font-family: var(--ff-primary);
  font-size: var(10pxl);
  line-height: 1.5;
}

.button {
  padding: 8px 18px;
  background: var(--color-accent);
  color: rgb(0, 0, 0);
  display: inline-block;
  border-radius: 4px;
}

.button1 {
  padding: 8px 18px;
  background: var(--color-accent);
  color: rgb(0, 0, 0);
  display: inline-block;
  border-radius: 4px;
  position: relative;
  left: 37px;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

ul {
  list-style: none;
}

/* Typography */

h1,
h2,
h3 {
  color: var(--color-light);
  line-height: 1;
  margin: 0;
  padding-bottom: 10px;
}

h6 {
  color: hsl(34, 100%, 60%);
  line-height: 0.5;
  margin: 0;
  padding-bottom: 10px;
}

h4 {
  color: hsl(34, 100%, 60%);
  line-height: 0.5;
  margin: 0;
  padding-bottom: 10px;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

/* Hero */

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow: hidden;
  background: #010e30;
}

.hero:after {
  content: " ";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.1;
}

.hero-content {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px;
  z-index: 1;
  position: relative;
}

.hero-title {
  margin-bottom: 90px;
}

#video-back {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

/* Hero media queries */

/* BG Cover */

.bg-cover1A {
  display: flex;
  padding: 100px 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img11.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  align-items: center;
}

.bg-cover1 {
  display: flex;
  padding: 100px 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img12.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  align-items: center;
}

.bg-cover1__title {
  margin: 0 auto;
  padding: 30px;
  flex: 0.8;
}

.bg-cover1__text {
  margin: 0 auto;
  padding: 30px;
  flex: 1.2;
}

.bg-cover2 {
  display: flex;
  padding: 100px 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img11.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  align-items: center;
}

.bg-cover2__title {
  margin: 0 auto;
  padding: 30px;
  flex: 0.8;
}

.bg-cover2__text {
  margin: 0 auto;
  padding: 30px;
  flex: 1.2;
}

.bg-cover3 {
  display: flex;
  flex-direction: column;
  padding: 100px 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/img12.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  align-items: center;
}

.bg-cover3__title {
  margin: 0 auto;
  padding: 30px;
}

@media (max-width: 480px) {
  .bg-cover1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 15px;
  }
  .bg-cover2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 15px;
  }
  .bg-cover3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 15px;
  }
  .bg-cover1__title {
    padding: 30px 30px 0 30px;
  }
  .bg-cover2__title {
    padding: 30px 30px 0 30px;
  }
  .bg-cover3__title {
    padding: 30px 30px 0 30px;
  }
  .bg-cover1__text {
    padding: 0 30px;
  }
  .bg-cover2__text {
    padding: 0 30px;
  }
  .bg-cover3__text {
    padding: 0 30px;
  }
}

/* Carousel */

.container {
  width: 100%;
  display: block;
  overflow: hidden;
}

.carousel {
  display: block;
  width: 100%;
  height: 400px;
  overflow-x: scroll;
  padding: 10px;
  margin: 0;
  white-space: nowrap;
  /* border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.item {
  display: inline-block;
  width: 250px;
  margin: 0 10px;
  height: 250px;
  background: rgba(0, 0, 0, 0.05) no-repeat center center;
  background-size: cover;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 6px #dfdfdf;
}

.item1 {
  display: inline-block;
  width: 200px;
  margin: 0 50px;
  height: 200px;
  background: rgba(0, 0, 0, 0.05) no-repeat center center;
  background-size: cover;
  position: relative;
  left: 100px;
  top: 50px;
  border-radius: 50%;
  box-shadow: 0 0 6px #dfdfdf;
}

.item2 {
  display: inline-block;
  width: 100px;
  margin: 0 30px;
  height: 100px;
  background: rgba(0, 0, 0, 0.05) no-repeat center center;
  background-size: cover;
  position: relative;
  left: 0px;
  top: 50px;
  border-radius: 50%;
  box-shadow: 0 0 6px #dfdfdf;
}

#pallinoaboutme {
  background-image: url(../img/img17.JPG);
}

#pallinow1 {
  background-image: url(../img/img18.jpg);
}

#pallinow2 {
  background-image: url(../img/img19.png);
}

#pallinocourse1 {
  background-image: url(../img/img20.jpg);
}

#pallinocourse2 {
  background-image: url(../img/img20.png);
}

#pallino1 {
  background-image: url(../img/img13.jpg);
}

#pallino2 {
  background-image: url(../img/img14.jpg);
}

#pallino3 {
  background-image: url(../img/img15.jpg);
}

#pallino4 {
  background-image: url(../img/img15.jpeg);
}

#pallino5 {
  background-image: url(../img/img16.jpg);
}

@media (max-width: 480px) {
  .carousel {
    padding: 50px 0 0 0;
  }
  .item {
    width: 200px;
    height: 200px;
  }
  .item1 {
    width: 200px;
    height: 200px;
  }
}
.footer {
  background: #000;
  padding: 70px 0;
}
.footer-container {
  max-width: 1350px;

  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-col {
  width: 33.3%;
  text-align: center;
  position: relative;
}
.footer-col h4 {
  margin-bottom: 15px;
  font-weight: var(--fw-bold);
}
.footer-col .social a {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: var(--color-accent);
  margin: 0 6px 6px 0;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: var(--color-dark);
}
.footer-col .social a:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 480px) {
  .footer {
    padding: 30px 0;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .footer-col {
    width: 100%;
  }
  .footer-col:not(:last-child) {
    margin-bottom: 35px;
  }
  .footer-col h4 {
    margin-bottom: 8px;
  }
}
